
<div class="container">
    <div class="row">
        <div class="offset-3"></div>
        <div class="col-md-6">
            <form name="form" #f='ngForm' novalidate class="order-form">
                <div class="form-grup">
                    <label for="name">Name</label>
                    <input type="text"
                    id="name"
                    class="form-control"
                    name='name'
                    autocomplete="off"
                    placeholder="Your Name"[(ngModel)]="model.name"/>
                </div>
                <div class="form-group">
                    <label for="adress">Adress</label>
                    <textarea id="adress"
                    class="form-control"
                    name="adress"
                    placeholder="Your Adress" 
                    rows="3" [(ngModel)]="model.adress"></textarea>

                </div>
                <p>Total Price:{{totalPrice}}</p>
                <button *ngIf="model.name!=''&& model.adress!=''" type="submit" class="btn btn-info pull-right" (click)="sendOrder()"
                 [routerLink]="['/library/thanks']">
                    <span>Send Order</span>
                </button>
            </form>
            

        </div>

    </div>
</div>