<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
                <div class="panou"><img src="\assets\Date\Harlequin-AllAboutMe-17.jpg"/></div>
                <div class="content-heading">
                    <h1>Books are Magic</h1>
                    <br>
                    <h2><i>Transport gratuit pentru comenzi in perioada :<br>1 iunie-30 iunie </i> </h2>
                    <br>
                   
                    <br>
                    <div id="motto">
                        <h4><i>Motto</i></h4>
                        <p>"Cartea, cel mai important instrument de ascutire a minţii."</p>
                    </div>
      </div>
     <a href="https://nemira.ro/balada-serpilor-si-a-pasarilor-cantatoare"><img id="panou_jos" src="\assets\Date\balada_banner_categorie_3zile.jpg"></a>
    </div>
  </div>